
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 10px 0;
}


header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 1.5em;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

section {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#about li {
    margin: 10px 0;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list span {
    background: #35424a;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background: #e2e2e2;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(45% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    background: #35424a;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.project-link:hover {
    background: #2c3e50;
}

#contact {
    background: #35424a;
    color: #ffffff;
}

#contact a {
    color: #ffffff;
    text-decoration: underline;
}

.cv-download {
    margin-top: 20px;
}

.cv-button {
    background: #e67e22;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.cv-button:hover {
    background: #d35400;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
}

@media (max-width: 768px) {
    .skills-list {
        flex-direction: column;
    }

    .project-card {
        flex: 1 1 100%;
    }
}